
.per {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Montserrat';
}

/* .heading {
    font-family: 'Style Script', cursive;
}

div {
    font-family: 'Rowdies', cursive;
}

p {
    font-family: 'Sarpanch', sans-serif;
} */
