@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Sarpanch&family=Style+Script&family=The+Nautigal:wght@700&display=swap');

/* .heading {
    font-family: 'Style Script', cursive;
}

div {
    font-family: 'Rowdies', cursive;
}

p {
    font-family: 'Sarpanch', sans-serif;
} */