@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Sarpanch&family=Style+Script&family=The+Nautigal:wght@700&display=swap');

.logo {
  font-family: 'The Nautigal', cursive;
}

@media (min-width: 400px) {
  .per {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Sarpanch';
  }
}

.bb {
  font-family: 'Sarpanch';
}

.begin {
  font-family: 'Rowdies', cursive;
}

.under {
  font-family: 'Style Script';
}
